
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .nav__link {
    font-weight: bold;
  }  
  ul, li {
    list-style: none;
  }  
  a {
    text-decoration: none;
    color: #829dad;
  } 
   .img__logo{    
    padding: 4px;
  }
  .nav {  
    width: 100%;    
    z-index: 99;
    background-color: aliceblue;       
    display: flex;
    justify-content: space-between;    
  }  
    .nav__menu {
    display: flex;
    align-items: center;
    font-size: 22px;
    justify-content: flex-end;
    height: 57px;
  }   
  .nav__link {
    margin: 3px;
    padding: 27px;
  }
  .nav__menu > .nav__link{
    font-weight: bold;
  }
  .nav__mobile {
    display: none;
  }   
  @media (max-width: 425px) {
    .img__logo {
       
       padding: 9px;
    }
     .nav__menu {
      display: none;
      padding: 10px;
      margin-top: 18px;
    }
    .nav__mobile{
      display: block;
     
      height: 50px;
    }     
    .row{
      border-top: 4px solid red;
      width: 50px;
      margin: 6px;
      display: flex;      
    }
    .nav__menu-list__visible{
      height: 100px;
      top: 0;
      background-color: orange; 
      z-index: 99;   
    }  
    .nav__menu-lis__hidden{
      background-color: pink;
      z-index: 99;
    }
    .nav{
      position: fixed;
      height: 85px;
    }
    .item{
      height: 38px;
      width: 67px;
      
    }
    .menu__mobile{
      height: 40px;
      margin-top: 20px;
    }
  
  }  